apptools==4.5.0
configobj==5.0.6
envisage==5.0.0
GDAL==3.0.4
importlib-metadata==3.1.1
importlib-resources==3.3.0
mayavi==4.7.2
numpy==1.19.4
Pillow==8.0.1
pyface==7.2.0
Pygments==2.7.3
PyQt5==5.15.2
PyQt5-sip==12.8.1
six==1.15.0
traits==6.1.1
traitsui==7.1.1
vtk==9.0.1
zipp==3.4.0
